$active-color: #ffe526;

.game-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stopper {
    font-family: 'Knewave', cursive;
    font-size: 3.5em;
    margin: 70px;
    color: $active-color;
}

button {
    background: transparent;
    color: white;
    border: none;
    padding: 10px 18px;
    font-size: 2.4em;
    font-family: 'Knewave', cursive;
    cursor: pointer;
    outline: none;
    border-radius: 4px;

    transition: background-color 300ms, color 400ms;

    &:active {
        background: #ff735b;
    }

    &:hover {
        color: $active-color; //#faff06;
    }
}