@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

body {
    background: red;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 100px;
}