@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Patua+One&display=swap');

body {
    background: red;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 100px;

    max-width: 1024px;
}